<div class="jumbotron bg-white jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">{{posts.titulo}}</h1>
    <small>
       Data de Postagem:  {{posts.data}}
    </small>
  </div>
  <hr>
  <div class="card-body  mt-3">
    <p class="lead">
        {{posts.conteudo}}
    </p>

  </div>
</div>
  